<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net472" />
  <package id="Castle.Windsor" version="5.0.1" targetFramework="net472" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net472" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net472" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net472" />
  <package id="Notifications.Wpf" version="0.1.1" targetFramework="net472" />
  <package id="SharpClipboard" version="3.3.0" targetFramework="net472" />
  <package id="TextCopy" version="3.0.0" targetFramework="net472" />
</packages>